@tailwind base;
@tailwind components;
.container-lg {
  @apply max-w-5xl mx-auto w-full lg:px-0 px-4;
}
.flex-between {
  @apply flex items-center justify-between;
}
.md-hidden {
  @apply max-md:hidden;
}
.md-show {
  @apply md:hidden;
}
.xs-hidden {
  @apply max-xs:hidden;
}
.flex-3 {
  flex: 3;
}
.flex-2 {
  flex: 2;
}
.avatar-lg {
  @apply w-16 h-16 max-md:w-10 max-md:h-10;
}
.avatar-md {
  @apply w-10 h-10;
}
.avatar-sm {
  @apply w-8 h-8;
}
.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.translate-z-0 {
  transform: translateZ(0);
}
.ratio {
  padding-top: 25%;
}
.form-item {
  @apply mx-5 mt-5 mb-8 flex items-center;
}
@tailwind utilities;
