@tailwind base;
@tailwind components;
.container-lg {
  @apply max-w-5xl mx-auto w-full lg:px-0 px-4;
}
.flex-between {
  @apply flex items-center justify-between;
}
.md-hidden {
  @apply max-md:hidden;
}
.xs-hidden {
  @apply max-xs:hidden;
}
.flex-3 {
  flex: 3;
}
.flex-2 {
  flex: 2;
}
.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@tailwind utilities;
